.queue {
  background-color: red;
  height: 90vh;
  width: 20%;
  right: 0;
  top: 10vh;
  position: absolute;
  float: right;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: rgb(0, 0, 0);
}

hr.solid {
  border-top: 3px solid #bbb;
  margin-bottom: 5px;
}

span.b {
  display: inline-block;
  width: 280px;
  height: 70px;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 2px solid black;
  border-radius: 5px;  
  background-color: teal;
  position: relative;
}

button.deletebutton {
  background-color: red;
  height: 100%;
  width: 30px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  right: 0;
  bottom: 0;
  position: absolute;
  text-align: center;
  margin: 0 auto;
}