.queue {
  background-color: red;
  height: 90vh;
  width: 20%;
  right: 0;
  top: 10vh;
  position: absolute;
  float: right;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: rgb(0, 0, 0);
  overflow-y: scroll;
}

hr.solid {
  border-top: 3px solid #bbb;
  margin-bottom: 5px;
}

span.b {
  display: inline-block;
  width: 280px;
  height: 70px;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: #5180B6;
  position: relative;
}

span.c {
  display: inline-block;
  width: 200px;
  height: 40px;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: #5180B6;
  position: relative;
  cursor: pointer;
  /* Below makes text unselectable */
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */

}

span.c:hover {
  background-color: #41A62A;
}

button.deletebutton {
  background-color: transparent;
  border-left: solid 1px black;
  height: 100%;
  width: 25px;
  font-size: large;
  border-bottom-right-radius: 1px;
  border-top-right-radius: 1px;
  right: 0;
  bottom: 0;
  position: absolute;
  text-align: center;
  margin: 0 auto;
  color: black;

}

button.deletebutton:hover {
  background-color: #800000;
}

button.editbutton {
  background-color: transparent;
  border-right: solid 1px black;
  color: black;
  height: 100%;
  width: 70px;
  border-bottom-left-radius: 1px;
  border-top-left-radius: 1px;
  left: 0;
  bottom: 0;
  position: absolute;
  text-align: center;
  margin: 0 auto;
}

button.editbutton:hover {
  background-color: #41A62A;
}