#blocklyDiv {
  height: 90%;
  width: 80%;
  position: absolute;
  left: 0;
  bottom: 0;
  float:left;
}

button{
  background:  #fff;
  font-weight: bold;
  padding: 16px 10px;
  margin-left: 10px;
  border: none;
  border-radius: 4px;
  color: #093A59;
  font-size: 15px;
  cursor: pointer;
}